


body {
  
  background: slategrey;
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.chat-container {
  background: white;
  width: 100%;
  padding: 20px;
  height: 100%;
  border-radius: 1dvh;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#chat-box {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background: whitesmoke;
  border-radius: 2vh;
}

textarea {
  width: calc(100% - 20px);
  height: 60px;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  box-shadow:grey 10px solid ;
}

button {
    border: 2px solid black ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 100px;
    background-color: rgb(122, 255, 117);
    font-weight: bold;
    text-shadow: 2px grey;
    float: right;
    
    transition: .45s;
    margin-top: 10px;
    width: 100px;
    height: 40px;
  
}
 button:hover{
    background-color: black;
    color: whitesmoke;
    width:130px ;
     ;
    
 }

 #logo{
    position: absolute;
    display: block;
    height: auto;
    max-width: 100%;
    
    top: 70px;
    right: 120px;

 }



 @media (max-width: 520px) {
  #logo {
    display: none;
       
  }
}